!!!
%html(lang="es-UY")
  %head
    %title RubyConf Uruguay 2010
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Molengo:regular" }
    %link{ :rel => "stylesheet", :href => "/website.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "/javascripts/application.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %nav
      %ul
        %li.lang
          %ul
            - RubyConf::Website::LANGUAGES.each do |code,name|
              %li{ :class => code }
                - if language == code
                  %span= name
                - else
                  = link_to name, "/#{code}"
        %li= link_to "Sponsors",      "/#{language}/sponsors#welcome"
        %li= link_to "Para quiénes",  "/#{language}#audience"
        %li= link_to "Cuándo",        "/#{language}#when"
        %li= link_to "Dónde",         "/#{language}/where"
        %li= link_to "Oradores",      "/#{language}/speakers"
        %li= link_to "Inscripciones", "/#{language}#register"

    %header
      %h1= link_to "RubyConf Uruguay", "/", :rel => "home"
      %div
        %ul.highlight
          %li
            %h2
              Conferencia regional de
              %br
              %strong Ruby, Rails, y metodologías ágiles
          %li
            %h3
              %time.date(datetime="2010-10-29") 29
              %span -
              %time.date(datetime="2010-10-30") 30
              de Octubre

    %div#content.clearFix
      %aside#sponsorships
        %h2 Auspiciantes

        = link_to "http://cuboxsa.com" do
          %img{ :alt => "Cubox", :src => "/sponsors/cubox.png" }

        %p
          ¡Estamos buscando auspiciantes! Si les interesa o tienen alguna
          propuesta, no duden en #{email "enviarnos un mail"} para conversarla.
          Por favor vea nuestros #{link_to "planes para sponsors", "/#{language}/sponsors#welcome"}.

      = yield
    %footer
      %p
        ©2010 Voluntarios del #{link_to "Grupo de Usuarios de Ruby de Uruguay", "http://ruguy.org"}
        con el apoyo de #{link_to "Cubox", "http://cuboxsa.com"} y #{link_to "WyeWorks", "http://wyeworks.com"}
      %p #{email "Envíennos un email"} o #{twitter}
    = erb :analytics if ENV["RACK_ENV"] == "production"
