!!!
%html
  %head
    %title RubyConf Uruguay 2010
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :"http-equiv" => "Content-Language", :content => "es-UY" }
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Cantarell:regular,bold", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/website.css", :type => "text/css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "favicon", :href => "/favicon.ico", :type => "image/png" }
    %script{ :type => "text/javascript", :src => "http://use.typekit.com/wee6fcn.js" }
    %script{ :type => "text/javascript" } try{Typekit.load();}catch(e){}
  %body
    %nav
      %ul
        %li= link_to "Audience",     "#audience"
        %li= link_to "When",         "#when"
        %li= link_to "Where",        "#where"
        %li= link_to "Speakers",     "#speakers"
        %li= link_to "Registration", "#register"
        %li= link_to "Sponsors",     "#sponsorships"
      %ul.lang
        - RubyConf::Website::LANGUAGES.each do |code,name|
          %li{ :class => code }
            - if language == code
              %span= name
            - else
              = link_to name, "/#{code}"


    %header
      %h1= link_to "RubyConf Uruguay", "/", :rel => "home"
      %h2 Regional Conference about Ruby, Rails, and Agile Methodologies
    %section#content
      = yield
    %footer
      %p
        ©2010 Volunteers from the #{link_to "Uruguayan Ruby User's Group", "http://ruguy.org"}
        with the support of #{link_to "Cubox", "http://cuboxsa.com"} and #{link_to "WyeWorks", "http://wyeworks.com"}
      %p #{email "Send us an email"} or #{twitter "follow us on twitter"}
    = erb :analytics if ENV["RACK_ENV"] == "production"
