%section#welcome
  %p
    ¡Tenemos una asombrosa lista de oradores!
    %br
    Velo por tí mismo:

%section#translation
  %p
    Proveeremos de traducción simultánea de Inglés a Español y viceversa para
    que no te pierdas ninguna charla.

%section#speakers
  .speaker#tenderlove
    %h2 Aaron Patterson
    %img.avatar(alt="Aaron Patterson" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1731/aaron.png")
    %p Ingeniero Senior en AT&T Interactive. Miembro de renombre de la comunidad de desarrolladores Ruby. Creó una implementación de PHP en Ruby llamada Phuby. Cuando no está desarrollando software, le gusta el karaoke.
    %p.twitter= speaker_twitter "tenderlove"

  .speaker#blaine
    %h2 Blaine Cook
    %img.avatar(alt="Blaine Cook" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1726/blaine_cook_thumb.jpg")
    %p Ex desarrollador principal y arquitecto de Twitter. 
    %p Creador de web standards como OAuth y WebFinger. Investigador Senior de Telecom Británica.
    %p.twitter= speaker_twitter "blaine"

  .speaker#bmizerany
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1739/blake_mizerany.jpg")
    %p Blake ha estado interesado en ruby desde el 2001, y es creador de Sinatra, la microframwork popular de ruby. Blake pasa sus dias en Heroku, donde desarrolla espectaculares funcionalidades de ruby y erland, y suele decir "lo estas haciendo todo mal." Habla regularmente en eventos de ruby y además mantiene una rutina de afeitado indiscernible.
    %p.twitter= speaker_twitter "bmizerany"

  .speaker#brixen
    %h2 Brian Ford
    %img.avatar(alt="Brian Ford" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1738/brian.png")
    %p Interesado en lenguajes de todo tipo, actualmente considera que Ruby es su preferido. Su esperanza con Rubinius es crear una excelente implementación Ruby que permita a los desarrolladores explorar facilmente y adoptar las mejores cualidades para otros lenguajes de programación.
    %p Actualmente trabaja en EngineYard mejorando Rubinius.
    %p.twitter= speaker_twitter "brixen"

  .speaker#cucurucho
    %h2 Carmen Diaz Echauri
    %img.avatar(alt="Carmen Díaz Echauri" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1736/profile.png")
    %p Después de años como programadora y diseñadora de base de datos y experiencia en datawarehousing, utilizando herramientas de Oracle y Microsoft principalmente, Carmen se ha enfocado en la web y aplicaciones móviles. Desarrollador Paraguaya, viviendo actualmente en San Francisco CA y trabajando como Rails Developer en BlazingCloud, donde practica el desarrollo y gestion de proyectos utilizando metodologias agiles.
    %p.twitter= speaker_twitter "cucurucho"

  .speaker#headius
    %h2 Charles Nutter
    %img.avatar(alt="Charles Nutter" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1728/charles_nutter_thumb.jpg")
    %p Desarollador Java, creador de LightStep y JRuby, la implementación de Ruby en la JVM que permite usar este hermoso lenguaje interactuando con Java y sus lenguajes asociados. Trabajó en Sun Microsystems y actualmente trabaja en EngineYard en el desarrollo continuo de JRuby.
    %p.twitter= speaker_twitter "headius"

  .speaker#dchelimsky
    %h2 David Chelimsky
    %img.avatar(alt="David Chelimsky" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1735/david_chelimsky_thumb.jpg")
    %p David Chelimsky ha sido el desarrollador principal de RSpec desde agosto de 2006. 
    %p Hoy por hoy escribe software financiero en DRW Trading en Chicago Estados Unidos. Previo a esto, paso varios años escribiendo aplicaciones web y publicando sistemas para Articulated Man, Inc, en Chicago precedido por tres años como Object Mentor, entrenando desarrolladores en TDD y OO principios de diseño. David también es co-autor del libro virtual The RSpec Book, el cual estará disponible impreso muy pronto.
    %p.twitter= speaker_twitter "dchelimsky"

  .speaker#miloops
    %h2 Emilio Tagua
    %img.avatar(alt="Emilio Tagua" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1737/emilio.jpg")
    %p Emprendedor argentino, desarrollador, contribuidor open source e Ingenierio en Informática. Cofundador de Eventioz, el servicio de gestión de registraciones on line para eventos más grande de latinoamerica. Ganador de Rails Hackfest y escritor de la guía oficial "Debugging Rails Applications guide" para el Rails Guide Hackfest. Contribuidor a Rails desde 2008 y participante de Google Summer of Code 2009, realizando el proyecto de integrar Arel en ActiveRecord para Ruby on Rails.
    %p.twitter= speaker_twitter "miloops"

  .speaker#rabble
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1730/evan.jpg")
    %p Fundador de Cubox S.A., previamente arquitecto de Yahoo Fire Eagle, y desarrollador principal de Odeo.com, uno de los primeros grandes emprendimientos basados en Ruby on Rails de donde se originó Twitter.
    %p.twitter= speaker_twitter "rabble"

  .speaker#fbru02
    %h2 Federico Brubacher
    %img.avatar(alt="Federico Brubacher" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1744/fede.png")
    %p Federico programa con Ruby desde el 2006, previo a lo cual experimentó con tecnologías más Enterpise (.Net, 2JEE) e incluso antes realizaba Ingeniería en Telecomunicaciones. Comenzó a jugar con RoR en la versión 1.2. Desde entonces se enamoró de Ruby on Rails y su comunidad. Trabaja en Cubox desde hace 6 meses.
    %p.twitter= speaker_twitter "fbru02"

  .speaker#federomero
    %h2 Federico Romero
    %img.avatar(alt="Federico Romero" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1749/fede.jpg")
    %p Federico es ingeniero en computación y programa en ruby desde 2007. Es co-fundador de Outbox, una empresa uruguaya de desarrollo web y juegos. También trabajó como docente de Programación Lógica (Prolog) y BioInformática en la Facultad de Ingeniería de la UdelaR. Es apasionado por descubrir tecnologías nuevas y actualmente divide su tiempo entre trabajo en ruby on rails y experimentación con node.js.
    %p.twitter= speaker_twitter "federomero"

  .speaker#gafaled
    %h2 Gabriel Ledesma
    %img.avatar(alt="Gabriel Ledesma" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1743/Gabriel.jpg")
    %p Gabriel realiza gerenciamiento de procesos de información y proyectos utilizando metodologías ágiles. Es un profesional Scrum certificado. 
    %p También tiene 10 años de experiencia programando, desarrollando y liderando aplicaciones criticas con tecnología JEE
    %p.twitter= speaker_twitter "gafaled"

  .speaker#imf
    %h2 Ian McFarland
    %img.avatar(alt="Ian MacFarland" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1727/speaker_ian-mcfarland.jpg")
    %p VP de tecnología de Pivotal Labs, una de las principales empresas de consultoría basada en Ruby on Rails con oficinas en New York, San Francisco y Singapur. Los clientes de Pivotal incluyen desde Google a decenas de startups.
    %p Pivotal solía usar Java como tecnología principal pero hace ya algunos años que decidieron migrar al mundo de Ruby.
    %p.twitter= speaker_twitter "imf"

  .speaker#nachof
    %h2 Ignacio Facello
    %img.avatar(alt="Ignacio Facello" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1741/nacho.jpg")
    %p Nacho ha estado realizando desarrollo web por más de 10 años, utilizando PhP, Java y en el último tiempo casi exclusivamente ruby. En su tiempo libre le gusta jugar go.
    %p.twitter= speaker_twitter "nachof"

  .speaker#ismasan
    %h2 Ismael Celis
    %img.avatar(alt="Ismael Celis" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1740/ismael.jpg")
    %p Desarrollador Chileno radicado en Londres y trabajando para New Bamboo. Tiene 4 años de experiencia en Ruby y actualmente forma parte del equipo de Pusherapp.com, un servicio SaaS de Websockets.
    %p.twitter= speaker_twitter "ismasan"

  .speaker#joaomilho
    %h2 Juan Maiz
    %img.avatar(alt="Juan Maíz" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1733/juan_maiz_thumb.jpg")
    %p Juan es un estudiante graduado en filosofía e interesado en lógica y fundamentos matemáticos. Trabaja con desarrollo de software desde el milenio pasado, exclusivamente con tecnología open source y metodologías ágiles. También es un empresario. En 2005 fundó Softa como modo de plasmar su visión de la vida, el trabajo y todo lo demás en práctica. Trabajan con RoR y otros idiomas y frameworks de vanguardia. Su empresa organiza RS On Rails, una reunión local para expertos RoR. Además, enseña desde 2004 desarollo TargetTrust. También es orador, habiendo participado en FISL (inmediatamente andes de DHH), Agile Weekend y varias Unis.
    %p.twitter= speaker_twitter "joaomilho"

  .speaker#gisikw
    %h2 Kevin Gisi
    %img.avatar(alt="Kevin Gisi" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1742/kevin.png")
    %p Es co-fundador de Eau Claire Ruby User Group, y un evangelista activo del lenguaje Ruby en la Universidad de Wisconsin - Eau Claire. En 2008 ganó el premio de Rails Rumble al más innovador por su proyecto destinado a mejorar la accesibilidad para usuarios con deficiencias visuales.
    %p.twitter= speaker_twitter "gisikw"

  .speaker#luislavena
    %h2 Luis Lavena
    %img.avatar(alt="Luis Lavena" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1729/luis_lavena.jpg")
    %p Director de Tecnología de la agencia de diseño Area17 con sedes en New York y París. Creador de la distribución de Ruby para Windows llamada RubyInstaller y luchador por los derechos de los usuarios Windows a utilizar Ruby en su plataforma.
    %p.twitter= speaker_twitter "luislavena"

  .speaker#soveran
    %h2 Michel Martens
    %img.avatar(alt="Michel Martens" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1734/michel.jpg")
    %p Michel se desempeña como Solutions Architect en Citrusbyte. Ha trabajado en desarrollo de software con diversos lenguajes de programación desde 1998. A partir de 2003, se enfocó exclusivamente en Ruby. Es co-autor de muchas librerías, entre ellas Ohm, Contest y Monk, y es uno de los desarrolladores del cliente Ruby de Redis.  Miembro del equipo Ruby Visual Identity y fundador del grupo Ruby Argentina, también es jugador amateur de go y vive en Buenos Aires.
    %p.twitter= speaker_twitter "soveran"

  .speaker#spastorino
    %h2 Santiago Pastorino
    %img.avatar(alt="Santiago Pastorino" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1725/santiago-pastorino2.png")
    %p Santiago es un Desarollador Web Senior con título de Ingeniero de Sistemas apasionado con crear productos de alta calidad utilizando las mejores practicas y haciendo las cosas perfectamente. Cree en el Open Source Software, de hecho es un contribuidor activo de Rails Core y ha hecho muchas otras contribuciones a proyectos de Open Source. Recientemente ha sido invitador a formar parte del Rails Core Team.
    %p.twitter= speaker_twitter "spastorino"

  .speaker#chacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1732/scottchacon2.jpg")
    %p Promotor de Git y desarrollador trabajando para GitHub.com. Es el autor del libro Pro Git (progit.org) de Apress, el PDF Git Internals de Peepcode, así como mantenedor del sitio oficial de Git (git-scm.com) y el Git Community Book.
    %p.twitter= speaker_twitter "chacon"
