%section#welcome
  %p
    We have a great lineup of speakers!
    %br
    See for yourself:

%section#translation
  %p
    We will provide simultaneous English-Spanish translation (and
    Spanish-English) so you will have access to all the talks.

%section#speakers
  .speaker#tenderlove
    %h2 Aaron Patterson
    %img.avatar(alt="Aaron Patterson" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1731/aaron.png")
    %p Senior Engeneer at AT&amp;T interactive. Well known in the Ruby developers community. He created an implementation of PHP for Ruby called Phuby. When he is not programming, he enjoys karaoke.
    %p.twitter= speaker_twitter "tenderlove"

  .speaker#blaine
    %h2 Blaine Cook
    %img.avatar(alt="Blaine Cook" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1726/blaine_cook_thumb.jpg")
    %p Former developer and arquitect of Twitter. Creator of web standards and OAuth &amp; WebFinger.
    %p Senior investigator for British Telecom.
    %p.twitter= speaker_twitter "blaine"

  .speaker#bmizerany
    %h2 Blake Mizerany
    %img.avatar(alt="Blake Mizerany" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1739/blake_mizerany.jpg")
    %p Blake has been into ruby since way back in 2001, and is the creator of Sinatra, the popular ruby microframework. Blake spends his days at Heroku, where he makes mind-blowing features out of ruby and erlang, and often says “you’re doing it all wrong”. He speaks regularly at ruby events and in conjunction maintains a completely indiscernible beard-shaving schedule.
    %p.twitter= speaker_twitter "bmizerany"

  .speaker#brixen
    %h2 Brian Ford
    %img.avatar(alt="Brian Ford" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1738/brian.png")
    %p Interested in languages of all types, he currently considers Ruby to be his favorite. His hope with Rubinius is to create an excellent Ruby implementation that enables developers to easily explore and adopt the best features of other programming languages.
    %p He currently works at EngineYard working on improving Rubinius.
    %p.twitter= speaker_twitter "brixen"

  .speaker#cucurucho
    %h2 Carmen Diaz Echauri
    %img.avatar(alt="Carmen Díaz Echauri" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1736/profile.png")
    %p After a number of years in the IT industry as a database programmer, designer and datawarehousing, working extensively with Oracle and Microsoft tools, Carmen is now focused on the web and mobile applications. A Paraguayan developer who currently works as a Rails programmer at Blazing Cloud in San Francisco CA, she is dedicated to innovative and practical development using Agile methodologies.
    %p.twitter= speaker_twitter "cucurucho"

  .speaker#headius
    %h2 Charles Nutter
    %img.avatar(alt="Charles Nutter" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1728/charles_nutter_thumb.jpg")
    %p Java Developer, creator of LightStep and JRuby, the implementation of Ruby in JVM allows to use this beautiful language interacting with Java and its associate languages. Worked at Sun Microsystems and currently works at EngineYard in the continuous development of JRuby
    %p.twitter= speaker_twitter "headius"

  .speaker#dchelimsky
    %h2 David Chelimsky
    %img.avatar(alt="David Chelimsky" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1735/david_chelimsky_thumb.jpg")
    %p David Chelimsky has been the lead developer/maintainer of RSpec since August of 2006.
    %p These days he writes financial software at DRW Trading, in Chicago, IL, USA. Before that, he spent a couple of years writing webapps and publishing systems for Articulated Man, Inc, in Chicago, preceded by three years as an Object Mentor, training software developers in TDD and OO Design Principles. David is also a co-author of the long-virtual The RSpec Book, which will finally be available in print very soon.
    %p.twitter= speaker_twitter "dchelimsky"

  .speaker#miloops
    %h2 Emilio Tagua
    %img.avatar(alt="Emilio Tagua" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1737/emilio.jpg")
    %p Argentinian entrepreneur and developer, contributes to Open Source and Computer Engineer. Co-founder of Eventioz, the larges service for managing inscriptions in Latin America. Winner of Rails Hackfest and writer of the official "Debugging Rails Applications Guide" for the Rails Guide Hackfest. Contributes to Rails since 2008 and participated in the Google Summer of Code 2009, integrating Arel in Active Record for Ruby on Rails
    %p.twitter= speaker_twitter "miloops"

  .speaker#rabble
    %h2 Evan Henshaw-Plath
    %img.avatar(alt="Evan Henshaw-Plath" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1730/evan.jpg")
    %p Founder of Cubox S.A, previously arquitect for Yahoo Fire Eagle and main developer at Odeo.com, one of the first big sites based in Ruby on Rails from where Twitter originated.
    %p.twitter= speaker_twitter "rabble"

  .speaker#fbru02
    %h2 Federico Brubacher
    %img.avatar(alt="Federico Brubacher" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1744/fede.png")
    %p Federico is a Ruby Programmer since 2006; before that he was doing random Enterprise stuff (.NET, J2EE) and even before that he was doing Telecommunications Engineering. He first started playing with Ruby On Rails when it was in version 1.2 . Since then he fell in Love with Ruby Rails and its community. He has been working at Cubox for the last 6 months.
    %p.twitter= speaker_twitter "fbru02"

  .speaker#federomero
    %h2 Federico Romero
    %img.avatar(alt="Federico Romero" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1749/fede.jpg")
    %p Federico has a degree in Computer Engineering and has been programming with ruby since 2007. He is co-founder of Outbox, a Uruguayan company of web development and games. He also worked as teacher of Logic Programming (Prolog) and BioInformatics at the Facultad de Ingeniería de la UdelaR. He is passionate about discovering new technologies and currently splits his time between working in ruby and experimenting with node.js.
    %p.twitter= speaker_twitter "federomero"

  .speaker#gabriel
    %h2 Gabriel Ledesma
    %img.avatar(alt="Gabriel Ledesma" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1743/Gabriel.jpg")
    %p Gabriel does management of information technology processes and projects using agile methodologies. He is a Certified Scrum Professional.
    %p He also has 10 years of experience developing, architecting and leading mission critical applications with JEE Technologies.

  .speaker#imf
    %h2 Ian McFarland
    %img.avatar(alt="Ian MacFarland" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1727/speaker_ian-mcfarland.jpg")
    %p VP of Technology of Pivotal Labs, one of the main consultancy based on Ruby on Rails with offices in New York, San Francisco and Singapur. Pivotal Labs clients include from Google to plenty of startups.
    %p Pivotal used to use Java as main technology but decided to switch to Ruby a few years ago.
    %p.twitter= speaker_twitter "imf"

  .speaker#nachof
    %h2 Ignacio Facello
    %img.avatar(alt="Ignacio Facello" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1741/nacho.jpg")
    %p Nacho has been doing web development for more than 10 years, using PHP, Java, and in the last few years, almost exclusively ruby. In his free time he likes playing go.
    %p.twitter= speaker_twitter "nachof"

  .speaker#ismasan
    %h2 Ismael Celis
    %img.avatar(alt="Ismael Celis" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1740/ismael.jpg")
    %p Chilean developer who now lives in London working for New Bamboo. He has 4 years of Ruby experience and is currently in the Pusherapp.com team, a SaaS service of Websockets.
    %p.twitter= speaker_twitter "ismasan"

  .speaker#joaomilho
    %h2 Juan Maiz
    %img.avatar(alt="Juan Maíz" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1733/juan_maiz_thumb.jpg")
    %p Juan is a philosophy undergraduate student interested in logic and math fundamentals. He works with software development since the last millennium, exclusively with open source technology and agile methods. He is also an entrepreneur. He founded Softa in 2005 in order to put his views about life, work and everything else in practice. They work with RoR and other cutting edge languages and frameworks. His company organizes RS On Rails, a local meeting of RoR experts. He also teaches web development at TargetTrust since 2004. He is also a speaker, having spoken at FISL (immediately before DHH), Agile Weekend and several Unis.
    %p.twitter= speaker_twitter "joaomilho"

  .speaker#gisikw
    %h2 Kevin Gisi
    %img.avatar(alt="Kevin Gisi" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1742/kevin.png")
    %p He is the co-founder of the Eau Claire Ruby User Group, and an active evangelist of the Ruby language at the University of Wisconsin - Eau Claire. The Rails Rumble 2008 “Most Innovative” prize was awarded to Kevin for his submission, designed to improve web accessibility for visually impaired users
    %p.twitter= speaker_twitter "gisikw"

  .speaker#luislavena
    %h2 Luis Lavena
    %img.avatar(alt="Luis Lavena" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1729/luis_lavena.jpg")
    %p Director of Technology for the design agency Area17 with branches in New York and Paris. Creator of Ruby distribution for Windows called RubyInstaller and fighter for the rights of Windows users to use Ruby in their platform.
    %p.twitter= speaker_twitter "luislavena"

  .speaker#soveran
    %h2 Michel Martens
    %img.avatar(alt="Michel Martens" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1734/michel.jpg")
    %p Michel is a solutions architect at Citrusbyte. He has been working on software development with several programming languages since 1998.  Starting on 2003, he has focused exclusively on Ruby. He is co-creator of many small libraries like Ohm, Contest and Monk, and helps maintain the Ruby client library for Redis. Member of the Ruby Visual Identity Team and founder of the Ruby Argentina Group, he is also an amateur go player and lives in Buenos Aires, Argentina.
    %p.twitter= speaker_twitter "soveran"

  .speaker#spastorino
    %h2 Santiago Pastorino
    %img.avatar(alt="Santiago Pastorino" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1725/santiago-pastorino2.png")
    %p Santiago is a Senior Web Developer with a Computer Science degree, passionate about creating extremely high quality products using the very best practices and getting things perfectly done. He is a strong believer in Open Source Software, in fact he is a very active Rails Core Contributor, and has made some contributions to many other Open Source projects. Lately he's been invited to form part of the Rails Core Team.
    %p.twitter= speaker_twitter "spastorino"

  .speaker#chacon
    %h2 Scott Chacon
    %img.avatar(alt="Scott Chacon" src="http://s3.amazonaws.com/eventioz_production/speaker_images/1732/scottchacon2.jpg")
    %p Promoter of Git and developer working for GitHub.com. He is the author of the book Pro Git (progit.org) of Apress, the PDF Git Internals of Peepcode, as well as maintainer of the official Git site (git-scm.com) and the Git Community Book.
    %p.twitter= speaker_twitter "chacon"
