<ul class="sponsor_logos">
  <li>
    <%= link_to '<img alt="Cubox" src="/sponsors/cubox.png">', "http://cuboxsa.com" %>
  </li>

  <li>
    <%= link_to '<img alt="Artech" src="/sponsors/artech.png">', "http://genexus.com" %>
  </li>

  <li>
    <%= link_to '<img alt="inConcert" src="/sponsors/inconcertcc.png">', "http://inconcertcc.com" %>
  </li>

  <li>
    <%= link_to '<img alt="Github" src="/sponsors/github.png">', "http://github.com" %>
  </li>

  <li>
    <%= link_to '<img alt="Citrusbyte" src="/sponsors/citrusbyte.png">', "http://citrusbyte.com" %>
  </li>

  <li>
    <%= link_to '<img alt="Do IT" src="/sponsors/doit.png">', "http://doitdevelopers.com" %>
  </li>
</ul>
