!!!
%html
  %head(lang="en-US")
    %title RubyConf Uruguay 2011
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Molengo:regular" }
    %link{ :rel => "stylesheet", :href => "/website-2011.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "http://jqueryrotate.googlecode.com/files/jQueryRotateCompressed.2.1.js" }
    %script{ :src => "/javascripts/application.js" }
    %script{ :src => "/javascripts/galleria-1.2.4.min.js" }
    %script{ :src => "/javascripts/theme/galleria.classic.min.js" }
    %script{ :src => "/javascripts/plugins/galleria.flickr.min.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %nav
      %ul
        %li.lang
          %ul
            - RubyConf::Website.languages.each do |code,name|
              %li{ :class => code }
                - if language == code
                  %span= name
                - else
                  = link_to name, "/#{code}"
      -#
        %li= link_to "Call for Papers", "https://spreadsheets.google.com/spreadsheet/viewform?formkey=dGU4OVFBRFFVLWNkLTFFazF5OFNDbmc6MQ"
        %li= link_to "Events",       "/#{language}/events"
        %li= link_to "Audience",     "/#{language}#audience"
        %li= link_to "Where",        "/#{language}/where"
        %li= link_to "Agenda",       "/#{language}/agenda"
        %li= link_to "Speakers",     "/#{language}/speakers"
        %li= link_to "Registration", "/#{language}#register"

    %header
      %h1= link_to "RubyConf Uruguay", "/#{language}", :rel => "home"
      %div
        %ul.highlight
          %li
            %h2
              Regional conference about
              %br
              %strong Ruby, Rails, and agile methodologies
          %li
            %h3
              = succeed %Q(<span class="sup">th</span>) do
                %time.date(datetime="2011-11-11") 11
              %span -
              = succeed %Q(<span class="sup">th</span>) do
                %time.date(datetime="2011-11-12") 12
              November

    %div#content.clearFix
      %aside#sponsorships
        <a href="http://www.twitter.com/rubyconfuruguay"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow rubyconfuruguay on Twitter"/></a>

        %h2 Sponsors

        = erb :sponsor_logos, skip_i18n: true

        %p
          We're looking for sponsors! If you're interested or have a proposal,
          please don't hesitate to #{email "send us an email"}. Please take a
          look at our #{link_to "sponsorship packages", "/#{language}/sponsors"}

      = yield
    %footer
      %p
        ©2011 Volunteers from the #{link_to "Uruguayan Ruby User's Group", "http://ruguy.org"}
      %p #{email "Send us an email"} or #{twitter "follow us on twitter"}
    = erb :analytics, skip_i18n: true if ENV["RACK_ENV"] == "production"
