!!!
%html(lang="es-UY")
  %head
    %title RubyConf Uruguay 2011
    %meta(charset="utf-8")
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Molengo:regular" }
    %link{ :rel => "stylesheet", :href => "/website-2011.css" }
    %link{ :rel => "home", :href => "/" }
    %link{ :rel => "icon", :href => "/favicon.ico" }
    %script{ :src => "http://code.jquery.com/jquery-1.4.2.min.js" }
    %script{ :src => "http://jqueryrotate.googlecode.com/files/jQueryRotateCompressed.2.1.js" }
    %script{ :src => "/javascripts/application.js" }
    %script{ :src => "/javascripts/galleria-1.2.4.min.js" }
    %script{ :src => "/javascripts/theme/galleria.classic.min.js" }
    %script{ :src => "/javascripts/plugins/galleria.flickr.min.js" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %nav
      %ul
        %li.lang
          %ul
            - RubyConf::Website.languages.each do |code,name|
              %li{ :class => code }
                - if language == code
                  %span= name
                - else
                  = link_to name, "/#{code}"
        %li= link_to "Oradores",     "/#{language}/speakers"
        %li= link_to "Inscripción", "https://eventioz.com/events/rubyconf-uruguay-2011/registrations/new"

    %header
      %h1= link_to "RubyConf Uruguay", "/#{language}", :rel => "home"
      %div
        %ul.highlight
          %li
            %h2
              Conferencia regional de
              %br
              %strong Ruby, Rails, y metodologías ágiles
          %li
            %h3
              %time.date(datetime="2011-11-11") 11
              %span -
              %time.date(datetime="2011-11-12") 12
              de Noviembre

    %div#content.clearFix
      %aside#sponsorships
        %p
          %a.large.awesome.orange{href: "https://eventioz.com/events/rubyconf-uruguay-2011/registrations/new" } Inscribete
        <a href="http://www.twitter.com/rubyconfuruguay"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Sigue a rubyconfuruguay en Twitter"/></a>

        %h2 Auspiciantes

        = erb :sponsor_logos, skip_i18n: true

        %p
          ¡Estamos buscando auspiciantes! Si les interesa o tienen alguna
          propuesta, no duden en #{email "enviarnos un mail"} para conversarla.
          Por favor, vea nuestros #{link_to "planes para sponsors.", "/#{language}/sponsors"}

      = yield
    %footer
      %p
        ©2011 Voluntarios del #{link_to "Grupo de Usuarios de Ruby de Uruguay", "http://ruguy.org"}
      %p #{email "Envíennos un email"} o #{twitter}
    = erb :analytics, skip_i18n: true if ENV["RACK_ENV"] == "production"
